# SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
# SPDX-License-Identifier: BSD-2-Clause

[package]
name = "perl-weekly-challenge-{{ pwc_id }}"
version = "0.1.0"
rust-version = "1.58"
authors = ["Peter Pentchev <roam@ringlet.net>"]
edition = "2021"
description = "A solution to the Perl Weekly Challenge {{ pwc_id }}"
readme = "README.md"
repository = "https://github.com/ppentchev/perlweeklychallenge-club"
license = "BSD-2-Clause"
categories = ["algorithms"]
keywords = ["perl-weekly-challenge"]

[dependencies]
anyhow = "1"
tracing = "0.1.40"

[dev-dependencies]
rstest = "0.24"
