<!--
SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
SPDX-License-Identifier: BSD-2-Clause
-->

# Download

These are the released versions of [{{ name }}](index.md) available for download.

## [0.1.0] - FIXME

### Source tarball

- [{{ pathname }}-0.1.0.tar.gz](https://devel.ringlet.net/files/{{ website_section }}/{{ name }}/{{ pathname }}-0.1.0.tar.gz)
  (with [a PGP signature](https://devel.ringlet.net/files/{{ website_section }}/{{ name }}/{{ pathname }}-0.1.0.tar.gz.asc))

### Python wheel

- [{{ pathname }}-0.1.0-py3-none-any.whl](https://devel.ringlet.net/files/{{ website_section }}/{{ name }}/{{ pathname }}-0.1.0-py3-none-any.whl)
  (with [a PGP signature](https://devel.ringlet.net/files/{{ website_section }}/{{ name }}/{{ pathname }}-0.1.0-py3-none-any.whl.asc))

[0.1.0]: https://gitlab.com/ppentchev/{{ name }}/-/tags/release%2F0.1.0
