<!--
SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
SPDX-License-Identifier: BSD-2-Clause
-->

# {{ name }} - do something

\[[Home][ringlet-home] | [GitLab][gitlab] | [PyPI][pypi] | [ReadTheDocs][readthedocs]\]

## Overview

Or do something else.
Your choice.

## Contact

The `{{ name }}` library was written by [Peter Pentchev][roam].
It is developed in [a GitLab repository][gitlab].
This documentation is hosted at [Ringlet][ringlet-home] with a copy at [ReadTheDocs][readthedocs].

[roam]: mailto:roam@ringlet.net "Peter Pentchev"
[gitlab]: https://gitlab.com/ppentchev/{{ name }} "The {{ name }} GitLab repository"
[pypi]: https://pypi.org/project/{{ name }}/ "The {{ name }} Python Package Index page"
[readthedocs]: https://{{ name }}.readthedocs.io/ "The {{ name }} ReadTheDocs page"
[ringlet-home]: https://devel.ringlet.net/{{ website_section }}/{{ name }}/ "The Ringlet {{ name }} homepage"
