// SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
// SPDX-License-Identifier: BSD-2-Clause
//! Test the doing of things.

// This is a test suite.
#![allow(clippy::panic_in_result_fn)]
#![allow(clippy::print_stdout)]
#![allow(clippy::unwrap_used)]

use crate::defs::{{ capname }}Error;

#[rstest::rstest]
#[case("hello", 5)]
#[case("goodbye", 7)]
fn test_good(#[case] value: &str, #[case] expected: usize) -> Result<(), {{ capname }}Error> {
    assert_eq!(crate::do_something(value)?, expected);
    Ok(())
}

#[test]
fn test_bad() {
    assert!(matches!(
        crate::do_something("").err().unwrap(),
        {{ capname }}Error::NotImplemented(_)
    ));
    assert!(matches!(
        crate::do_something("Ragnarok").err().unwrap(),
        {{ capname }}Error::InternalError(_)
    ));
}
