# SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
# SPDX-License-Identifier: BSD-2-Clause

[package]
name = "{{ name }}"
version = "0.1.0"
rust-version = "1.58"
authors = ["Peter Pentchev <roam@ringlet.net>"]
edition = "2021"
description = "Do one thing and do it well."
readme = "README.md"
repository = "https://gitlab.com/ppentchev/{{ name }}"
license = "BSD-2-Clause"
categories = ["FIXME", "TODO", "more-categories"]
keywords = ["{{ name }}"]

[dependencies]
anyhow = "1"
clap = "4.5"
clap_derive = "4.5"
thiserror = ">= 1, < 3"
tracing = "0.1.40"
tracing-subscriber = "0.3.18"

[dev-dependencies]
rstest = "0.24"
