# SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
# SPDX-License-Identifier: BSD-2-Clause
#
# See https://devel.ringlet.net/misc/publync/

[format.version]
major = 0
minor = 1

[build.tox]

[sync.rsync]
remote = "marla.ludost.net:vhosts/devel.ringlet.net/public_html/{{ website_section }}/{{ name }}"
