# SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
# SPDX-License-Identifier: BSD-2-Clause
"""Do things, or do other things."""

from __future__ import annotations

import dataclasses
import sys
import typing

import click

from . import defs
from . import util


if typing.TYPE_CHECKING:
    from typing import Final


@dataclasses.dataclass
class ConfigHolder:
    """Hold a `Config` object."""

    cfg: defs.Config | None = None
    """The `Config` object stashed by the main function."""


def extract_cfg(ctx: click.Context) -> defs.Config:
    """Extract the `Config` object that the main function built."""
    cfg_hold: Final = ctx.find_object(ConfigHolder)
    if cfg_hold is None:
        sys.exit("Internal error: no click config holder object")

    cfg: Final = cfg_hold.cfg
    if cfg is None:
        sys.exit("Internal error: no config in the click config holder")

    return cfg


def arg_features(_ctx: click.Context, _self: click.Parameter, value: bool) -> bool:  # noqa: FBT001
    """Display program features information and exit."""
    if not value:
        return value

    print("Features: " + " ".join(f"{name}={value}" for name, value in defs.FEATURES.items()))
    sys.exit(0)


@click.command(name="run")
@click.option("--noop", "-N", is_flag=True, help="no-operation mode; display what would be done")
@click.pass_context
def cmd_run(ctx: click.Context, *, noop: bool) -> None:
    """Do the actual work, or something."""
    cfg: Final = extract_cfg(ctx)

    if noop:
        print("Would do stuff")

    cfg.log.debug("Doing stuff")


@click.group(name="{{ name }}")
@click.option(
    "--features",
    is_flag=True,
    is_eager=True,
    callback=arg_features,
    help="display program features information and exit",
)
@click.option(
    "--quiet",
    "-q",
    is_flag=True,
    help="quiet operation; only display warning and error messages",
)
@click.option("--verbose", "-v", is_flag=True, help="verbose operation; display diagnostic output")
@click.pass_context
def main(ctx: click.Context, *, features: bool, quiet: bool, verbose: bool) -> None:
    """Do something, or do something else, who cares anyway."""
    if features:
        sys.exit("Internal error: how did we get to main() with features=True?")

    ctx.ensure_object(ConfigHolder)
    ctx.obj.cfg = defs.Config(log=util.build_logger(quiet=quiet, verbose=verbose), verbose=verbose)


main.add_command(cmd_run)


if __name__ == "__main__":
    main()
