# SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
# SPDX-License-Identifier: BSD-2-Clause
"""Common definitions for the {{ name }} library."""

from __future__ import annotations

import dataclasses
import typing


if typing.TYPE_CHECKING:
    import logging
    from typing import Final


VERSION: Final = "0.1.0"
"""The {{ name }} library version, semver-like."""


FEATURES: Final = {
    "{{ name }}": VERSION,
}
"""The list of features supported by the {{ name }} library."""


@dataclasses.dataclass(frozen=True)
class Config:
    """Runtime configuration for the {{ name }} library."""

    log: logging.Logger
    """The logger to send diagnostic, informational, and error messages to."""

    verbose: bool
    """Verbose operation; display diagnostic output."""
