// SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
// SPDX-License-Identifier: BSD-2-Clause
//! Common definitions for the `{{ name }}` crate.

use anyhow::Error as AnyError;
use thiserror::Error;

/// An error that occurred during the doing of things.
#[derive(Debug, Error)]
#[non_exhaustive]
#[allow(clippy::error_impl_error)]
pub enum {{ capname }}Error {
    /// Something went really, really wrong.
    #[error("fnmatch-regex internal error")]
    InternalError(#[source] AnyError),

    /// Some known missing functionality.
    #[error("Not implemented yet: {0}")]
    NotImplemented(String),
}

/// Runtime configuration for the `{{ name }}` routines.
#[derive(Debug)]
pub struct Config {
    /// The project name to generate.
    name: String,

    /// Verbose operation; display diagnostic output.
    verbose: bool,
}

impl Config {
    /// Create a [`Config`] object with the specified name.
    #[inline]
    #[must_use]
    pub const fn new(name: String) -> Self {
        Self {
            name,
            verbose: false,
        }
    }

    /// The project name to generate.
    #[inline]
    #[must_use]
    pub fn name(&self) -> &str {
        &self.name
    }

    /// Verbose operation; display diagnostic output.
    #[inline]
    #[must_use]
    pub const fn verbose(&self) -> bool {
        self.verbose
    }

    /// Return a new [`Config`] object with the specified verbosity level.
    #[inline]
    #[must_use]
    pub fn with_verbose(self, verbose: bool) -> Self {
        Self { verbose, ..self }
    }
}
