#![deny(missing_docs)]
#![deny(clippy::missing_docs_in_private_items)]
// SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
// SPDX-License-Identifier: BSD-2-Clause
//! Do one thing and do it well.
//!
//! Or do something else.

#![allow(clippy::pub_use)]

pub mod defs;

use anyhow::anyhow;

use defs::{{ capname }}Error;

pub use defs::Config;

/// Do something with a string.
///
/// # Errors
///
/// [`{{ capname }}Error::NotImplemented`] on an empty string.
/// [`{{ capname }}Error::InternalError`] on a really, really unexpected value.
#[inline]
pub fn do_something(value: &str) -> Result<usize, {{ capname }}Error> {
    match value {
        "" => Err({{ capname }}Error::NotImplemented(
            "Cannot handle empty strings yet".to_owned(),
        )),
        "Ragnarok" => Err({{ capname }}Error::InternalError(anyhow!(
            "Nobody should ever tell us that!"
        ))),
        other => Ok(other.len()),
    }
}

#[cfg(test)]
pub mod tests;
