# SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
# SPDX-License-Identifier: BSD-2-Clause

target-version = "py311"
line-length = 100

[lint]
select = []
ignore = [
  # No blank lines before the class docstring, TYVM
  "D203",

  # The multi-line docstring summary starts on the same line
  "D213",

  # We do not document everything in the docstring
  "DOC201",
  "DOC402",
  "DOC501",

  # The /x regex modifier is common enough in many languages
  "FURB167",
]

[lint.flake8-copyright]
notice-rgx = "(?x) SPDX-FileCopyrightText: \\s \\S"

[lint.isort]
force-single-line = true
known-first-party = ["{{ pathname }}"]
lines-after-imports = 2
single-line-exclusions = ["collections.abc", "typing"]

[lint.per-file-ignores]
# This is a command-line tool; console output is part of its job.
"src/{{ pathname }}/__main__.py" = ["T201"]

# This is a test suite
"tests/unit/**.py" = ["S101", "T201"]
