#![deny(missing_docs)]
#![deny(clippy::missing_docs_in_private_items)]
// SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
// SPDX-License-Identifier: BSD-2-Clause
//! Do something.

use std::process::{Command, ExitCode, Termination};

use anyhow::{Context as _, Result};
use tracing::{info, trace};

use {{ pathname }}::Config;

mod cli;

use cli::Mode;

/// The result of the main program or an invoked subcommand.
enum MainResult {
    /// Everything seems fine.
    Ok,
}

impl Termination for MainResult {
    fn report(self) -> ExitCode {
        match self {
            Self::Ok => ExitCode::SUCCESS,
        }
    }
}

/// Do the actual copying of files, etc.
fn run(cfg: &Config) -> Result<MainResult> {
    trace!("{name}", name = cfg.name());
    info!("About to run `date -R`");
    Command::new("date")
        .args(["-R"])
        .spawn()
        .context("Could not run `date -R`")?
        .wait()
        .context("`date -R` failed")?;
    info!("Looks like we are done here");
    Ok(MainResult::Ok)
}

/// The main program - parse command-line options, do something about it.
fn main() -> Result<MainResult> {
    match cli::try_parse()? {
        Mode::Handled => Ok(MainResult::Ok),
        Mode::Run(cfg) => run(&cfg),
    }
}
