#![deny(missing_docs)]
#![deny(clippy::missing_docs_in_private_items)]
// SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
// SPDX-License-Identifier: BSD-2-Clause
//! PWC {{ pwc_id }} task 1: Something or something else.

use std::env;
use std::io;
use std::process::{ExitCode, Termination};
use std::str::FromStr as _;

use anyhow::{Context as _, Result};
use tracing::debug;

const TEST_SEQUENCES: [&[u32]; 3] = [&[1], &[1, 1], &[2, 1, 0]];

/// The result of the main program or an invoked subcommand.
enum MainResult {
    /// Everything seems fine.
    Ok,
}

impl Termination for MainResult {
    fn report(self) -> ExitCode {
        match self {
            Self::Ok => ExitCode::SUCCESS,
        }
    }
}

/// Calculate the task-dependent result.
#[tracing::instrument]
fn calc(seq: &[u32]) -> Result<u32> {
    debug!(
        "Summing up a sequence of {count} numbers",
        count = seq.len(),
    );
    Ok(seq.iter().sum())
}

/// The main program - parse the environment settings, do something about it.
#[allow(clippy::print_stdout)]
fn main() -> Result<MainResult> {
    if env::var("PWC_FROM_STDIN").unwrap_or_else(|_| String::new()) == "1" {
        let mut line = String::new();
        io::stdin()
            .read_line(&mut line)
            .context("Could not read a line from the standard input stream")?;
        let seq = line
            .split_ascii_whitespace()
            .map(|word| {
                u32::from_str(word)
                    .with_context(|| format!("Could not parse '{word}' as a positive integer"))
            })
            .collect::<Result<Vec<_>, _>>()?;
        println!("{res}", res = calc(&seq)?);
    } else {
        for test_seq in TEST_SEQUENCES {
            println!("{res}", res = calc(test_seq)?);
        }
    }
    Ok(MainResult::Ok)
}
