# SPDX-FileCopyrightText: Peter Pentchev <roam@ringlet.net>
# SPDX-License-Identifier: BSD-2-Clause
"""Make sure that `{{ name }} run` starts up at least."""

from __future__ import annotations

import subprocess  # noqa: S404
import sys
import typing


if typing.TYPE_CHECKING:
    from typing import Final


def test_run_help_noop() -> None:
    """Make sure that `{{ name }} run --help` and `{{ name }} run --noop` work."""
    output_help: Final = subprocess.check_output(  # noqa: S603
        [sys.executable, "-m", "{{ pathname }}", "run", "--help"],
        encoding="UTF-8",
    )
    assert "--noop" in output_help
    assert "Would do stuff" not in output_help

    output_noop: Final = subprocess.check_output(  # noqa: S603
        [sys.executable, "-m", "{{ pathname }}", "run", "--noop"],
        encoding="UTF-8",
    )
    assert "--noop" not in output_noop
    assert "Would do stuff" in output_noop
